<div class="form-floating">
<%= form_with model:[@post, @post.comments.new], method: :post, local: true do |f| %>
 
    <%= f.label :text, "Comment", class: "control-label" %>
  
    <%= f.text_area :text, :class =>"form-control", :placeholder => "Leave a comment here", required: true%>

  <%= f.submit "Submit", class: "btn-comment", data: {disable_with: "Loading..."} %>
  <%= f.hidden_field :post_id, value: @post.id %>
<% end %>
</div>

 