<%= render 'navbar'%>
<div class="posts">
    <div class="user">
      <div class="col-md-2 img-thumbnail">
        <%= image_tag("profile-placeholder.png", :alt => "User icon") %>
       </div>
    <blockquote class="blockquote mb-0">
      <%= @user.name %>
      <p><%= @user.bio%></p>
      <footer class="blockquote-footer"><cite title="Source Title">Wrote <%= @user.posts.count %> posts</cite></footer>
      <%= link_to "All posts", user_posts_path(@user), class: "btn btn-primary" %>
    </blockquote>
  
  </div>
</div>
 <%= render 'recent_posts'%>

