<%= render 'users/navbar'%>
<div class="posts">
    <div class="user">
      <a class="link-to-user" href="/users/<%= @user.id %>"><%= @user.name %></a>
      <h4 class="posts-count">Posts(<%= @user.posts.size %>)</h4>
        <% if @user && @user.id == @user.id%>
        <%= link_to "New post", new_user_post_path(@user.id)%>
        <%= link_to "All Users", root_path, class: "all-users-link" %>
    <% end %>
    </div>
</div>
<%= render "list" %>
<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">Next</a></li>
  </ul>
</nav>
