<%= form_with url: user_posts_path, scope: :data do |form| %>
<div class="form-group">
	<section >
		<%= form.label :title, "Title", class: "label" %>
		<%= form.text_field :title, placeholder: "Title", required: true %>
	</section>
	<section>
		<%= form.label :body, "Body", class: "label" %>
		<%= form.text_area :text, placeholder: "Type here...", rows: 14, required: true %>
	</section>
	<%= form.submit "Post", class: "btn btn-primary" %>
  </div>
<% end %> 