<%= render 'users/navbar'%>
<%= link_to 'All Posts', {:action => 'index'}, class: 'btn-primary'%>
<div class="card mb-3 p-4">
  <div class="card-body">
    <h5 class="card-title py-5 text-center fs-4"><%= @post.title %></h5>
    <p class="card-text"><%= @post.text %></p>
    <p class="card-text"><small class="text-muted">Posted <%= time_ago_in_words(@post.created_at)%> ago</small></p>
    <div class="likes">
      <%= form_with model:[@post, @post.likes.new] do |f|%>
         <%= f.submit "Like", class: "likes-btn" %>
      <%end%>
      <strong>Likes: </strong><%= @post.likes.count %><br />
      <strong>Comments: </strong><%= @post.comments.count %><br />
   </div>
  </div>
</div>
</div>

<%= render "comments/create" %>
<h4 class="comments-title">Comments</h4>
<div class="comments-list">
   <% @post.comments.each do |comment| %>
   <div class="comment">
      <p><%= comment.text %></p>
   </div>
   <% end %>
</div>